<div class="row">
  <div class="col-md-8">
    <small>Você tem {{itemCount}} produtos no carrinho. O valor total é de <span class="text--red text--bold js-cart-total">{{(cart | async).grossTotal | currency:'BRL':true}}.</span></small>
  </div>
  <div class="col-md-2">
    <a class="btn btn-block btn-success"
       [attr.disabled]="itemCount === 0 ? true : null"
       routerLink="/checkout">Ir para o checkout</a>
  </div>
  <div class="col-md-2">
    <button type="button"
            class="btn btn-block btn-secondary js-btn-empty-cart"
            (click)="emptyCart()"
            [attr.disabled]="itemCount === 0 ? true : null">
      Limpar carrinho
    </button>
  </div>
</div>
