<div class="container">
  <div class="row title">
    <div class="col-md-10">
      <h1>Loja Online</h1>
    </div>
    <div class="col-md-2">
        <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
          <i class="fas fa-shopping-cart"></i>
        </a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 collapse" id="collapseExample">
      <div class="alert alert-info" role="alert">
        <app-shopping-cart></app-shopping-cart>
      </div>
    </div>
  </div>
  <div class="row listaLivros">
    <div *ngFor="let product of products | async"  class="col-md-4">
      <div class="card mb-4 box-shadow">
        <div class="row d-flex">
          <div class="col-md-6">
            <img class="card-img-top cover-book product_image" src="{{product.thumb}}" />
          </div>
          <div class="col-md-6">
            <div class="card-body">
              <h2 class="book-title js-product-name">{{ product.name }}</h2>
              <p class="card-text js-product-desc">{{ product.description }}</p>
              <h3 class="card-price js-product-price">{{ product.price | currency:'BRL':true }}</h3>
            </div>
          </div>
          <div class="col-md-12">
            <div class="card-body">
              <button class="btn-block btn add-cart js-btn-add"  (click)="addProductToCart(product, 1)"><i class="fas fa-cart-plus"></i> Adicionar ao carrinho</button>
              <button type="button" class="js-btn-remove" *ngIf="productInCart(product) | async" (click)="removeProductFromCart(product, 1)">Remover livro do carrinho</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
