/* Fontes */
/* Paleta de Cores */
.album {
  background-color: #fcfcfc;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Sunflower", sans-serif !important;
}

p, a, li, label {
  font-family: "Nanum Gothic", sans-serif !important;
}

.navbar {
  background-color: #F2BE54;
}

#navbarHeader {
  background-color: #fcfcfc;
  color: #000000 !important;
}

.cover-book {
  border-radius: calc(.25rem - 1px);
  padding-top: 10px;
  padding-left: 10px;
}

.book-title {
  font-size: 28px;
}

.card-body {
  padding: 10px !important;
  padding-left: 0px !important;
}

.card-text {
  min-height: 50px;
}

.add-cart {
  margin-left: 5px;
  font-family: "Sunflower", sans-serif !important;
  background-color: #F2BE54 !important;
  color: #000000 !important;
}

footer {
  background-color: #000000;
}

footer p {
  color: #F2BE54 !important;
  line-height: 48px;
  font-size: 11px;
}

footer a {
  color: #F2BE54;
  font-size: 24px;
}
