/* Fontes */

$Sunflower: 'Sunflower', sans-serif;
$Nanum: 'Nanum Gothic', sans-serif;

/* Paleta de Cores */
$amarelo:#F2BE54;
$preto: #000000;
$azul: #153E5C;
$cinza: #CDD4CA;

.album{
    background-color:#fcfcfc;
}

h1, h2, h3, h4, h5, h6{
    font-family:$Sunflower !important;
}

p, a, li, label{
    font-family:$Nanum !important;
}

.navbar{
    background-color:$amarelo;
}

#navbarHeader{
    background-color:#fcfcfc;
    color:$preto !important;
}

.cover-book{
    border-radius: calc(.25rem - 1px);
    padding-top: 10px;
    padding-left: 10px;
}

.book-title{
    font-size: 28px;
}

.card-body {
    padding: 10px !important;
    padding-left: 0px !important;
}

.card-text{
    min-height:50px;
}

.add-cart{
   margin-left:5px;
   font-family:$Sunflower !important;
   background-color:$amarelo !important;
   color:$preto !important;
}

footer{
    background-color: $preto;
    p{
        color: $amarelo !important;
        line-height: 48px;
        font-size:11px;
    }
    a{
        color:$amarelo;
        font-size: 24px;
    }
}