<div class="container">
  <div class="row title">
    <div class="col-md-10">
      <h1>Checkout</h1>
    </div>
    <div class="col-md-2">
        <a routerLink="/">
          <i class="fas fa-angle-double-left"></i>
        </a>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-md-12">
      <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Imagem</th>
              <th scope="col">Livro</th>
              <th scope="col">Quant. x Unid.</th>
              <th scope="col">Subtotal</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of cartItems">
              <td><img src="{{item.product.thumb}}"
                class="product_image"/></td>
              <td><span class="text--bold js-product-name">{{item.product.name}}</span>
                <p class="js-product-desc">{{item.product.description}}</p></td>
              <td><p class="text--red js-product-costs">{{item.quantity}} x {{item.product.price | currency:'BRL':true}}</p></td>
              <td><p class="text--bold text--red js-product-total">{{item.totalCost | currency:'BRL':true}}</p></td>
            </tr>
          </tbody>
        </table>
        <h4>Valor total da compra
          <span class="text--red text--bold js-gross-total">{{(cart | async).grossTotal | currency:'BRL':true}}</span>
        </h4>      
    </div>
  </div>
</div>
